@font-face {
  font-family: "At";
  src:
    url("../../Fonts/Atziluth.otf") format("woff2"),
    url("../../Fonts/Atziluth.otf") format("woff"),
    url("../../Fonts/Atziluth.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.contactContainer {
  background: rgba(215, 193, 156, 0.4);
  mix-blend-mode: multiply;
}

.contactWrapper {
  background-image: url("../../Images/landing-page3a.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: multiply;
}
input {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  mix-blend-mode: multiply;
  opacity: 0.1;
}
input:focus-visible {
  border: none;
}

label {
  font-family: "At";
  font-size: 30px;
}

.contactConsent {
  font-family: Cinzel;
}
footer {
  width: 100%;
}
.footerWraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 300px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.links {
  display: flex;
  gap: 15px;
}
.footerLink {
  text-decoration: none;
  color: black;
}

.socials {
}
