@font-face {
  font-family: "At";
  src:
    url("../../Fonts/Atziluth.otf") format("woff2"),
    url("../../Fonts/Atziluth.otf") format("woff"),
    url("../../Fonts/Atziluth.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.contactContainer {
  background: rgba(215, 193, 156, 0.4);
  mix-blend-mode: multiply;
}

.contactWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: multiply;
}

.contactInputField {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
  gap: 10px;
  margin-top: 10px;
}
input {
  border: none;
  mix-blend-mode: multiply;

  position: relative;
}
input:focus {
  color: rebeccapurple;
  opacity: 1;
  outline: none;
}

.contactInputField:before {
  content: "";
  position: absolute;
  top: 30px;
  display: block;
  width: 500px;
  height: 2px;
  background-color: black;
  margin-top: 5px;
}

label {
  font-family: "At";
  font-size: 30px;
}

.contactConsent {
  font-family: Cinzel;
}
footer {
  width: 90%;
}
.footerWraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 300px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.links {
  display: flex;
  gap: 15px;
}
.footerLink {
  text-decoration: none;
  color: black;
}

.socials {
}
