.stackContainer {
  background-repeat: no-repeat;
  position: relative;
  background: rgba(215, 193, 156, 0.4);
  mix-blend-mode: multiply;
}
.stackContainer::before {
  content: "";
  position: absolute;
  top: -200px;
  left: -50px;
  transform: rotate(-180deg);
  width: 100%;
  height: 100%;
  background-image: url("../../Images/stack-efect.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.stackWrapper {
  background-image: url("../../Images/landing-page3a.png");
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  mix-blend-mode: multiply;
}

.contentStack {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.stackBcg {
  background-image: url("../../Images/landing-page1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 340px;
  height: 320px;
  transform: rotate(-50deg);
}

.stackBox {
  position: relative;
  transform: rotate(50deg);
  top: 65px;

  text-align: center;
}

.stackLogo {
  width: 111px;
  height: 125px;
}
